body {
  box-sizing: border-box;
  background: transparent; }

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 300px;
  margin: 0 auto;
  position: relative; }
  .cards .card {
    position: absolute;
    background: yellow;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; }
    .cards .card img {
      width: 20px; }
    .cards .card:nth-child(odd) {
      background: red; }
