ul.cards {
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: block;
}

h2 {
  font-family: $font-quicksand;
  font-weight: $font-regular;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: $blue;
}
