body {
  box-sizing: border-box;
  background: $light;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 800px;

  &.my-4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.loader {
  margin-top: 50px;

  p {
    text-align: center;
    font-family: $font-quicksand;
    font-weight: $font-regular;
    font-size: 18px;
    color: $blue;
  }
}
